# Ignore all node_modules directory
node_modules/

# Ignore environment configuration files
.env
./config/config.env

#git rm -- cached backend/config/config.env
#used to remove the focus of git over .env file which is pushed wrongly ...